
img {
    width: 15rem;
}

input {
    display: block;
}

label {
    display: block;
    margin-top: 1rem;
}

div {
    display: inline-block;
}

li {
    margin-top: .5rem;
}

button {
    margin-top: 1rem;
    background-color: #6aa1f9;
    border-radius: 8px;
    padding: 6px;
    font-weight: bold;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .taglist {
    display: block;
    margin-top: 20px;
  }

 