{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="/static/app.css">
{% endblock %}

{% block content %}

<h1>Create a User</h1>

<form action="/users/new" method="POST">

    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" placeholder="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" placeholder="last_name">
    <label for="image_url">Image URL</label>
    <input type="text" name="image_url" id="image_url" placeholder="image_url">

    <button class="add_button">Add</button>
</form>

{% endblock %}