{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="/static/app.css">
{% endblock %}

{% block content %}

<form action="/users/{{user.id}}/edit" method="POST">

    <label for="first_name">First Name</label>
    <input type="text" name="first_name" id="first_name" placeholder="first_name" value={{user.first_name}}>
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" id="last_name" placeholder="last_name" value={{user.last_name}}>
    <label for="image_url">Image URL</label>
    <input type="text" name="image_url" id="image_url" placeholder="image_url" value={{user.image_url}}>

    <button>Save</button>

    <button formaction="/users/{{user.id}}" formmethod="GET">Cancel</button>
</form>

{% endblock %}